In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
budget_data = pd.read_csv("budget_data.csv")

In [3]:
budget_data

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [4]:
budget_data['Date']

0     Jan-10
1     Feb-10
2     Mar-10
3     Apr-10
4     May-10
       ...
81    Oct-16
82    Nov-16
83    Dec-16
84    Jan-17
85    Feb-17
Name: Date, Length: 86, dtype: object

In [5]:
number_months = len(budget_data['Date'].unique())
#number_months

In [6]:
total_pl = budget_data['Profit/Losses'].sum()

In [7]:
avg_diff = np.diff(budget_data['Profit/Losses']).mean()

In [8]:
budget_data['Profit/Losses'] = budget_data['Profit/Losses'].diff()
#budget_data

In [9]:

largest_gain = budget_data[budget_data['Profit/Losses'] == budget_data['Profit/Losses'].max()]

# Finding the greatest loss and its associated date
greatest_loss = budget_data[budget_data['Profit/Losses'] == budget_data['Profit/Losses'].min()]

In [28]:
print('Financial Analysis')
print('------------------------')
print('Total Months: ',number_months)
print("Total: $",total_pl)
print("Average Change: $", round(avg_diff,2))
print("Greatest Increase In Profits:")
print(list(largest_gain['Date'])[0],"($",list(largest_gain['Profit/Losses'])[0], ")")
print("\nGreatest Decrease In Profits:")
print(list(greatest_loss['Date'])[0],"($",list(greatest_loss['Profit/Losses'])[0], ")")

Financial Analysis
------------------------
Total Months:  86
Total: $ 22564198
Average Change: $ -8311.11
Greatest Increase In Profits:
Aug-16 ($ 1862002.0 )

Greatest Decrease In Profits:
Feb-14 ($ -1825558.0 )

In [22]:
list(largest_gain['Profit/Losses'])[0]

1862002.0

In [31]:
output = "pybank_analysis.txt"
write_budget_data = f"{output}"

with open(write_budget_data, mode='w') as file:
    file.write(f"Financial Analysis:\n")
    file.write("-------------------------------------------------------\n")
    file.write(f"Total Months: {number_months}\n")
    file.write(f"Total Revenue: {total_pl} USD\n")
    file.write(f"Average Revenue Change: {round(avg_diff,2)} USD\n")
    file.write(f"Greatest Increase in Revenue: {list(largest_gain['Date'])[0]} {list(largest_gain['Profit/Losses'])[0]} USD\n")
    file.write(f"Greatest Decrease in Revenue: {list(greatest_loss['Date'])[0]} {list(greatest_loss['Profit/Losses'])[0]} USD\n")
    file.write("")